## Back App Node
node_modules/
.env
##Clase2/database/*.json
Clase3/database/*.json

## Front App Vue
public/.DS_Store
public/node_modules
public//dist

public/.env.local
public/.env.*.local

public/npm-debug.log*
public/yarn-debug.log*
public/yarn-error.log*
public/pnpm-debug.log*

public/.idea
public/.vscode
public/*.suo
public/*.ntvs*
public/*.njsproj
public/*.sln
public/*.sw?

## Steady, Ready, Go!
SteadyReadyGo!/database/db.json