:root {
    --color-back: #07113b;
    --color-back-second: rgb(23, 221, 152);
    --color-font-main: #e5fcf5;
    --color-font-second: #4cf6f3;
}

html {
    min-height: 100%;
}

body {
    padding: 2vmin;
    text-align: center;
    background: radial-gradient(var(--color-back-second), var(--color-back));
    color: var(--color-font-main);
    font-family: sans-serif;
}

.home {
    text-shadow: 1px .5px var(--color-back);
    font-size: large;
}

a {
    text-decoration: none;
    color: var(--color-font-second);
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}

a:hover{
    color: var(--color-font-main);
}

.nav-item {
    margin: 2vmin;
}

.btn-success {
    background: var(--color-font-main);
    color: var(--color-font-second);
}

.table {
    color: var(--color-font-main);
    margin: 0 auto;
}

.home img {
    transform: translateZ(0);
    /* background-color: #05ff97; */ /* 36f7a6 */
    width: 20vmin;
    border-radius: 20%;
    padding: 2vmin;
}

#imgNode{
    animation: upCard 4s infinite;
}

#imgJS{
    animation: upCard 4.5s infinite;
}

#imgVue{
    animation: upCard 5s infinite;
}

@keyframes upCard {
    10% {
        transform: translateY(-4px);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 5px -5px;
    }

    50% {
        transform: translateY(-8px);
        box-shadow: rgba(0, 0, 0, 0.45) 1px 20px 10px -5px;
        background-color: #0eff9b;
    }

    100% {
        transform: translateY(0px);
    }
}